@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: "Roboto";
}

div#pagina {
    width: 100%;
    margin: 0px auto;
}

/*----------- Inicia HEADER ---------*/


header {
    width: 100%;
    height: auto;
    padding: 1px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    z-index: 99;
}

div#cazul {
    width: 100%;
    height: 25px;
    background-color:#2e63a7;
}


div#logotipo {
    width:100%;
    height: auto;
    background-color: white;
}

header img {
    margin: auto 0px;
    padding: 15px ;
}

/*----------- Inicia NAV ---------*/


.nav{
   width: 100%;
    height: auto;
   float:left;
   position: relative;
    background-color: #d6ad6b;
}

.nav li{
   float:left;
}
.nav li a{
   line-height: 30px;
   padding:0px 20px;
   font-size:16px;
   color:#fff;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
    -o-transition: all 800ms;
    transition: all 800ms;
}

.nav li a:hover {
     text-decoration: none;
       color: #705839;
   }

.toggle{
   position: absolute;
   top:35px;
   right:15px;
   width: 35px;
   cursor:pointer;
   display:none;
}

.toggle div{
   width: 35px;
   height: 4px;
   background-color: #39354c;
   margin: 5px 0;
}

@media (max-width:1024px){
   .toggle {
      display:block;
   }
   /*
   header{
      padding-top:80px;
   }
   */
   header div.nav {
      display: none;
   }
   .nav li{
      width: 100%;
      text-align: right;
   }
   .nav li a{
      width: 150px;
   }
   .nav li a:hover {
      text-decoration: none;
      color: #705839;
   }
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0px;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

/*---------------- Formato general para las secciones ----------------------*/
.secciones {
  width: 100%;
  height: 681px;
}

/*------- Inicia SECTION INICIO -----*/

iframe {
    width: 100%;
    height: 681px;
}

/*------- Inicia SECTION CONOCENOS---- */

section#conocenos{

}

.barritas {
    width: 100%;
    height: 10px;
    margin-top: 0;
}

#c1 {
    background-color: #39354c;
}

#c2 {
    background-color: #2c5282;
}

#c3 {
    width: 100%;
    height: 55px;
    background-color: #cccccc;
}

h1 {
    width: 25%;
    height: 25px;
    margin-top: 0px;
    padding: 5px;
    font-size: 35px;
    color: #39354c;
}

#conocenos .service p {
    padding: 0;
}

/* Service Area */

#serviceArea {
    padding: 15px 0px 0px 0px;
    position: relative;
}

#serviceArea .i-overlay {
    width: 100px;
    height: 100px;
    margin: 15px auto;
}

#serviceArea .img-responsive {
    width: 100%;
    height: auto;
}

#serviceArea .service {
    padding: 10px;
    margin-top: 20%;
    margin-bottom: 15%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ececec;
    background: #f8f8f8;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    height: 320px;
}

#serviceArea .service:hover {
    background: #fff;
}

h3 {
    font-weight: 700;
}

@media screen and (max-width: 768px){
    .secciones#conocenos {
      height: 720px;
    }

    #serviceArea {
        padding: 10px 0px 0px 0px;
    }
    #serviceArea .i-overlay {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
    #serviceArea .service {
        padding: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
        height: 200px;
    }
    #serviceArea .service h3 {
        font-size: 1.5em;
    }

}



/*------Inicia SECTION SERVICIOS-----*/

section#servicios {
    background-color: #2c5282;
}

#servicios .container {
    margin-top: 1%;
}

#servicios .container .row {
    padding: 10% 0;
}

#servicios .container .row div img {
    width: 50%;
}

#servicios .container .row div button {
    margin-top: 2%;
}

@media screen and (max-width: 991px){
    #servicios .container .row div button {
        width: 100%;
        font-size: 100%;
    }

@media screen and (max-width: 768px){
    #servicios .container {
        margin-top: 3%;
    }
    #servicios .container .row {
        padding: 0;
    }
    #servicios .container .row div {
        margin: 3% 0;
        margin-bottom: 7%;
    }
    #servicios .container .row div img {
        width: 20%;
    }
    #servicios .container .row div button {
        width: auto;
        font-size: 100%;
    }

}

}



.s1, .s2, .s3 {
    width: 26%;
    height: 200px;
    display: inline-block;
    padding: 15px 0px 50px 0px;
    margin-top: 70px;
    margin-right: 18px;
    margin-left: 18px;
}

img#icoterr, img#icoalm, img#icopta {
    width: auto;
    height: 200px;
}

div#servimg {
    width: 100%;
    height: 200px;
    margin-top: 0px;
}


div#servtxt {
    width: 100%;
    margin-top: 50px;
    color: #fff;
}



.button {
  font-size: 1.5em;
    font-weight: 600;
  padding: 10px;
  color: #fff;
    font-family: "Roboto";
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
    background-color: #d6ad6b;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-family: "Roboto";
    font-weight: 700;

}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}





/*------Inicia SECTION GALERIA-----*/

section#galeria {
    background-color: #fff;
    position: relative;
}

/********** Estilos galería con bootstrap *************/

/* Asignando fondo al caption o contenido sobre la imagen */
.carousel-caption {
    right: 1.25em;
    left: auto;
    width: 60%;
    padding: 0;
}

.bg-caption-black {
    background-color: rgba(0,0,0,0.3);
}
.bg-caption-white {
    background-color: rgba(255,255,255,0.3);
}
.bg-caption-white-40 {
    background-color: rgba(255,255,255,0.4);
}
.bg-caption-white-50 {
    background-color: rgba(255,255,255,0.5);
}

/* Esto es para hacer que el texto de las miniaturas se muestre como bloque */
#myCarousel .nav a {
	padding-left: 0;
    padding-right: 0;
}

#myCarousel .nav a img {
    width: 100%;
}

@media (min-width: 768px) {
  #myCarousel .nav-justified > li {
    display: table-cell;
    width: 1%;
/*    float: left !important;*/
  }
  #myCarousel .nav-justified > li > a {
    margin-bottom: 0;
  }
}

/*------Inicia SECTION ALIANZAS -----*/

section#alianzas {
    background-color: #fff;
}

aside#alian {
    width: 100%;
    height: 250px;
    margin-top: 120px;
}

.ali1, .ali2, .ali3, .ali4, .ali5, .ali6 {
    width: 15%;
    height: 200px;
    display: inline-block;
    padding: 5px 0px 5px 0px;
    margin-top: 15px;
    margin-right: 15px;
}

img#icoal {
    width: 80%;
    height: 160px;
}


/*------Inicia SECTION CONTACTO -----*/

section#contacto {
    height: auto;
    background-color: #fff;
}

.contac {
    width: 48%;
    height: auto;
    display: inline-block;

}

h4 {
    text-align: justify;
    margin-top: 0px;
}

p{
    margin-top: 2px;
}

div#maps {
    width: 98%;
    height: auto;
    margin: 1%;
}

input, textarea {
    width: 78%;
    padding: 3px;
    margin-top: 2px;
}

/* Inicia FOOTER */

footer {
    width: 100%;
    height: 55px;
    background-color: firebrick;
    margin-top: 15px;
    color: #fff;
     background-color: #2e63a7;
}

h5 {
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 0px 0px 0px;

}

/* Tuneado de Bootstrap */
